html{
    font: 24px
}
body{
    background-color: hwb(180 92% 7%);
    color: black;
}
a{
    color:blue
}
a:visited {
color:rgb(31, 150, 110)
}
a:hover, a:active{
    color:rgb(252, 29, 13)
}
td, th {
    border: 1px solid #999;
    padding: 0.5rem;
  }
table {
  width: 100%;
    border-collapse: separate;
}
.element {
    width: 100%;
  
  }

  /* Adjust the styling for different screen sizes*/
  @media (min-width: 600px) {
    .element {
      width: 50%;
    }
  }
  @media (min-width: 900px) {
    .element {
      width: 33.33%;
    }
  }
  