/* Define CSS variables */
:root {
    --font-size: 24px;
    --padding: 0.5rem;
    --border-color: #999;
    --primary-color: blue;
    --visited-color: rgb(31, 150, 110);
    --hover-color: rgb(252, 29, 13);
  }
  /*  CSS variables on page */
  html {
    font-size: var(--font-size);
  }
  
  body {
    margin: 0;
    width: 100%;
    background-color: hwb(180 24% 25%);
    color: black;
 
  }
  header {
    text-align: center;
    color: rgb(236, 225, 18);
  }
  nav {
    text-align: center;
  }

  nav ul {
    display: inline-block;
    padding: 0;
    margin: 0;
   
  }

  nav ul li {
    display: list-item;
    margin: 0 10px; /* Adjust margin as needed */
  }
  
  a {
    color: var(--primary-color);
  }
  
  a:visited {
    color: var(--visited-color);
  }
  
  a:hover, a:active {
    color: var(--hover-color);
  }
  
  td, th {
    border: 3px solid var(--border-color);
    border-color: rgb(171, 14, 243);
    padding: var(--padding);
  }
  
  table {
    width: 100%;
    border-collapse: separate;
  }

  /* Adjust the layout for different screen sizes */
  @media (min-width: 600px) {
    .element {
      margin: 0;
      width: 50%;
    }
  }
  
  @media (min-width: 900px) {
    .element {
      margin: 0;
      width: 33.33%;
    }
  }
  .animate {
    opacity: 0;
    animation: fadeIn 2s forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }